<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connection_string" value="Data Source=DESKTOP-Q3NADVC\MSSQLSERVER01;Initial Catalog=NhibernateTest;Integrated Security=True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>